* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsl(30, 38%, 92%);
}

.row {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    
}

.col-2 {
    padding: 1.3rem;
    
}

.row img {
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.row h4 {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 1rem;
    color: hsl(228, 12%, 48%)
}

.row h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 1rem;

}

.row p {
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 1rem;
    color: hsl(228, 12%, 48%)
}

.row h2 {
    position: relative;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.row h2 span {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    align-items: center;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}


.row button {
    border: none;
    margin-top: 2rem;
    padding: 0.7rem 3rem;
    border-radius: 10px;
    background: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.row button i {
    padding: 0 0.6rem;
}
